{% extends 'index.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href={% static 'main_app/playlist.css' %}>

    <div class="container">

    <header class="section-heading">
        <h3 class="section-title">All Playlists</h3>
    </header>
    <hr>
    <!-- Movie list -->
    <div class="row">
        {% if playlists %}
            {% for playlist in playlists %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a style="color: azure" href="{% url 'entry_app:main_app:playlist_songs' playlist.playlist_name %}">{{ playlist.playlist_name }}</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p style="color: azure">There isn't any playlist! First create new playlist.</p>
        {% endif %}
  </div>

</div>

{% endblock %}