body {
    background-color: #484848;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    color: azure;

    padding-bottom: 100px;
}

body a {
    text-decoration: none;
    color: azure;
}

header a:hover{
    background-color: rgba(52, 52, 52, 0.51);
    text-decoration: none;
    border-radius: 30px;
}

.player {
    display: flex;
    padding: 10px;
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #171717;
}

.player audio {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 25px;
    margin-right: 250px;
    width: 900px;
    height:40px;
}

.player img {
    border-radius: 10px 10px 10px 10px;
}

.player .top ul {
    float: left;
    padding-inline-start: 0;
}

.player .top {
    width: auto;
}

.player .top a {
    margin-left: 15px;
    color: azure;
}

.player .top li{
    text-decoration: none;
    list-style-type: none;
    padding: 4px;
}

.player .right {
    width: 100%;
}

.player .bottom {
    display: block;
    float: right;
}

.player .left {
    display: block;
    float: left;
}

.mainlink {
    float: left;
    margin-left: 10px;
}


header {
    padding: 0;
    overflow: hidden;
    background-color: #171717;

}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav li {
    float: right;
    margin-right: 30px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    float: right;
    margin-right: 20px;
    padding: 10px;
}

#content-main {
    overflow: auto;
    background: #484848;
    height: 70%;
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
    width: 90%;
    margin: auto;
    background: #484848;
}

.username {
    float: right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
}

footer {
    display: block;
    position:absolute;
    bottom:0;
    width:100%;
}